################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libiconv-1.14.vc10/windows/VC10/.vs/iconv/v16
/libiconv-1.14.vc10/windows/VC10/Debug
/libiconv-1.14.vc10/windows/VC10/Release
/libxml2/win32/VC10/.vs/libxml2
/libxml2/win32/VC10/Debug
/libxml2/win32/VC10/libxml2/Debug
/libxml2/win32/VC10/libxml2/Release
/libxml2/win32/VC10/Release
